[submodule "ampache"]
	path = ampache
	url = https://salsa.debian.org/jgoerzen/docker-ampache-base.git
	branch = .
[submodule "ampache-mysql"]
	path = ampache-mysql
	url = https://salsa.debian.org/jgoerzen/docker-ampache-mysql.git
	branch = .
